Repository template: No template
Owner: [your-username]
Repository name: solar-challenge-week1
Description: Week 1 Solar Data Discovery Challenge - 10 Academy...

☑ Public   ○ Private
☑ Add a README file
